root{
    --color-1: #4F6B42;
    --color-2: #e6ece7;
    --color-3: #BBD6C1;
    --color-4: #48613c;
}

*{

    margin: 0;
    padding: 0;
}


.cabeçalho{
    background-color: #BBD6C1;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    height: 150px;
}

.BC{
    color: #4F6B42;
    text-align: left;
    font-size: larger;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
    width: auto;
    font-size: 50px;
}

nav ul li{
    display: inline;
    margin-right: 25px;
    text-align: left;
    font-size: 100px;
}

a{
    color: #4F6B42;
    font-size: 20px;
}

body{
    background-color: #e6ece7;
    flex-direction: column;
    min-height: 100vh;
}

section{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article{
    float: center;
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #48613c;
    max-width: 500px;
    margin: 10px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    width: 500px;
    height: 500px;
    transform: translate(130%, 20%);
    
}

h2 {
    margin-bottom: 20px;
    margin-left: 20px;
    color: #BBD6C1;
    font-size: 30px;
    text-shadow: 5px 5px 5px #829e76;
    margin: 20px;
    height: -10px;
    transform: translate(15%, 15%);
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #BBD6C1;
    box-shadow: 5px 0px 9px #829e76;
    background-color: #BBD6C1;
    color: black;
    font-weight: bold;
}

.Enviar {
    height: 40px;
    background-color: #BBD6C1;
    width: 120px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: #4F6B42;
    align-items: end;
    margin: 10px;
    transform: translate(5%, 1%);
    font-size: 20px;
    

}

form input{
    margin: 10px;
    color: #4F6B42;
    background-color: #d9e9dd;
    font-size: 20px;
}


form label {
    margin-left: 20px;
    color: #d9e9dd;
    font-weight: bold;
    margin: -10px;
    font-size: 20px;
}

footer div{
    background-color: #BBD6C1;
    outline: #4F6B42;
    text-transform: lowercase;
    height: 150px;
    font-size: bold;
    font-size: large;
    text-align: center;
    color: #4F6B42;
    text-shadow: 5px 5px 5px #829e76;
    transform: translate(0%, 115%);
}

.rodape{
    font-size: 500px;
}